<
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/CssTrang2.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .title {
            width: 100%;
            height: 150px;
            margin: auto;
            display: flex;
            align-items: center;
        }

        .title h2 {
            margin: auto;
            font-weight: bold;
        }

        .table {
            width: 50%;
        }

        .upper-img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

        .menu-bar {
            display: flex;
            justify-content: center;
            font-size: 25px;
            padding: 15px;
            align-content: center;
            gap: 20px;
            list-style-type: none;
        }

            .menu-bar a {
                text-decoration: none;
                color: #000000;
                font-weight: bold;
            }

                .menu-bar a:hover {
                    color: #2F412A;
                    border-bottom: solid;
                }
    </style>
</head>
<body>
    <div id="main">
        <div id="header">
            <ul id="nav1">
                <li id="nav-img"><img src="~/img/Frame 38.png" width="300" /></li>

            </ul>
            <ul id="nav" style="align-items:center;">
                <li><a href="index.html">Trang chủ</a></li>
                <li><a href="shop.html">Cửa hàng</a></li>
                <li><a href="about.html">Thông tin</a></li>
                <li><a href="contact.html">Liên hệ</a></li>
                <li><a href="cart.html"><img src="~/img/icon buy white.png" /></a></li>
                <li>
                    <div class="dropdown">
                        <button type="button" class="btn btn-primary dropdown-toggle bg-transparent" data-bs-toggle="dropdown">

                            <img src="~/img/icons8-user-24 (1).png" />
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" style="color:black" href="#">Đăng kí</a></li>
                            <li><a class="dropdown-item" style="color:black" href="#">Đăng nhập</a></li>

                        </ul>
                    </div>
                </li>
            </ul>
        </div>

        <div id="content">
            <div class="go" style="background-color: white; padding-left: 100px; font-size: 15px; height: 30px;">
                Trang chủ > Tất cả
            </div>

            <div class="title">
                <h2>SẢN PHẨM</h2>
            </div>

            <img src="~/img/field-of-wheat-497725308 1.png" class="upper-img" />
            Default
            <ul class="menu-bar">
                <li class="menu1"><a href="#">Tất cả</a></li>
                <li class="menu2"><a href="#">Gạo dẻo</a></li>
                <li class="menu3"><a href="#">Gạo thường</a></li>
                <li class="menu4"><a href="#">Gạo nếp</a></li>
            </ul>
            <div class="container body-content">
                @RenderBody()
            </div>

            <div class="bottom-content">
                <div class="img">
                    <img src="~/img/a-wheat-yellow-field 1.png" style="width:300px" />
                </div>
                <div class="java" style="text-align:center;">

                    <h5 style="margin: 28px; margin-bottom:0px;">Đăng Kí Thông Tin</h5>
                    <div class="formdk">
                        <form>
                            <div class="input-group">
                                <div class="input-field">
                                    <img src="~/img/name icon.png" />
                                    <input type="text" placeholder="Name" />
                                </div>
                                <div class="input-field">
                                    <img src="~/img/mail form.png" />
                                    <input type="email" placeholder="Email" />
                                </div>
                                <div class="input-field">
                                    <img src="~/img/phone Form.png" />
                                    <input type="tel" placeholder="Phone" />
                                </div>
                                <div class="input-field1">
                                    <input type="submit" placeholder="Gửi" />
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <footer>
            <div id="footer">
                <div class="Information">
                    <div>
                        <ul class="Info">
                            <li style="font-size:25px"> CÔNG TY 3 THÀNH VIÊN KHÒ KHÒ</li>
                            <li id="Info--tt" style="margin:10px">Cửa Hàng Tại Quận 10: 828 Sư Vạn Hạnh, Phường 10, Quận 10, TPHCM </li>
                            <li id=" Info--tt" style="margin:10px">Cửa Hàng Tại Quận 10: 828 Sư Vạn Hạnh, Phường 10, Quận 10, TPHCM </li>
                            <li id="Info--tt" style="margin:10px">Cửa Hàng Tại Quận 10: 828 Sư Vạn Hạnh, Phường 10, Quận 10, TPHCM </li>
                            <li id="Info--tt" style="margin:10px">Giờ Mở Cửa: 7h30 - 19h30 (Từ Thứ 2 đến Chủ Nhật)  </li>
                        </ul>

                    </div>

                    <div>
                        <ul class="Info-2">
                            <li style="font-size:25px">LIÊN HỆ</li>
                            <li id="Info2--tt"><img src="~/img/Frame.png" /> Hotline: 09 xxx xxx - 999 xxx xxx</li>
                            <li id="Info2--tt"><img src="~/img/Frame.png" /> Điện thoại: 09 xxx xxx - 999 xxx xxx</li>
                            <li id="Info2--tt"><img src="~/img/link.png" /> Website: Vlkobit.com</li>
                            <li id="Info2--tt"><img src="~/img/mail.png" /> Email: chu12@gmail.com</li>
                        </ul>
                    </div>

                </div>

                <div class="box-bottom">
                    <ul id="bot--tt">
                        <li><img src="~/img/làtuinef.png" />Là tui nè</li>
                    </ul>
                </div>

            </div>
        </footer>
    </div>
</body>
</html>

